@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Raleway&family=Roboto:wght@300;400;500&display=swap');

/*  COLORS */
$white: #FFFFFF;
$yellow: #FFE031;
$gray1: #F2F2F2;
$gray2: #A7A7A7;
$gray3: #6C6C6C;
$gray4: #3d3d3d;
$gray5: #414141;
$black: #000000;

/*  FOONTS */

$fontRoboto: 'Roboto', sans-serif;
$fontNunito: 'Nunito', sans-serif;
$fontRaleway: 'Raleway', sans-serif;

$w600: 600;
$w500: 500;
$w400: 400;
$w300: 300;

$s24: 24px;
$s20: 20px; 
$s14: 14px;
$s10: 10px;

$l28: 28px; 
$l23: 23px;
$l16: 16px;
$l12: 12px;

/* WIDTH */

$wi76: 76px;
$wi106: 106px;
$wi136: 116px;
$wi145: 145px;
$wi190: 190px;
$wi239: 239px;
$wi272: 272px;
$wi358: 358px;
$wi: auto;

/* HEIGTH*/

$he32: 32px;
$he36: 36px;
$he44: 44px;
$heAuto: auto;
$he45: 133px;
$he46: 219px;
