@import "./variables";
@import"./_mixin";
@import "./mediaQuery.scss";

.container {
    height: 844px;
    width: 390px;
    &__button {
        width: 2px;
        height: 0px; 
           color: $gray5;
        font-size:x-large;
        border: none;
        background-color: transparent;
        box-sizing: border-box; 
          position: absolute;
        left: 17px;
        top: 64px;
        @include mobile{
      
     
        } 
      

    }
    &__dish{
        width: 154px;
height: 110px;
border-radius: 10px;
margin-left: 9px;

    }
    &__container{
        width: 171px;
height: 182px;
box-shadow: inset 0px 0px 4px -1px rgba(0, 0, 0, 0.1);
border-radius: 10px;
padding: 8px;
display: flex;
align-items: baseline;
justify-content: stretch;
flex-direction: column;
    }
    &__buttons1::-webkit-scrollbar {
        display: none; /* Oculta la barra de desplazamiento */
      }
      

       &__buttons1{
        position: absolute;
        width: 375px;
        height: 55px;
        overflow-x: scroll;
        overflow-y: hidden;
        left: 17px;
        top: 232px;
        white-space: nowrap; /* Evita el salto de línea de los elementos */
        display: flex;
        align-items: center;
        overflow: auto;
        flex-direction: row;
        
      }
      &__buttons{
        display: inline-flex;
   
    }
    &__buttons button{
        width: 106px;
        height: 32px; 
    }
    &__container h2{
      font-family: $fontRoboto;
font-size: 14px;
font-weight: 400;
line-height: 16px;
letter-spacing: -0.30000001192092896px;
text-align: center;   
color:$gray3;   

    }
    &__section h1{
        position: absolute;
        width: 110px;
        height: 16px;
        left: 169px;
        top: 117px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: -0.3px;
        
        /* Dark color */
        
        color: #414141;  
    }
    &__section h2{
        font-family: $fontRoboto;
        font-style: normal;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;  
    }
    &__container h1{
        font-family: $fontRoboto;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: -0.3px;
    }
    &__logo{

        object-fit: cover;
        position: absolute;
        width: 34px;
        height: 41px;
        left: 141px;
        top: 60px;
    }
    &__logo2 {
        position: absolute;
        
    object-fit: cover;
width: 68px;
height: 36px;
left: 181px;
top: 64px;

    }

    &__figure {
        position: absolute;
        width: 137px;
        height: 106px;
        background: #C4C4C4;
        border-radius: 10px;
        overflow: hidden;
        left: 15px;
        top: 117px;
        margin:0;
    }
    
    &__image {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 134px;
        height: 108.02px;
        border-radius: 10px;
        background-image: url("https://th.bing.com/th/id/R.c22277a451f43346b2ab3fb59ceadf3c?rik=prmM3D5YO7VFRQ&pid=ImgRaw");
        background-size: cover;
        clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 50% 100%, 0% 100%);
    }
}    



button {
    @include button
}

#parrafo {
    position: absolute;
    width: 205px;
    height: 55px;
    left: 169px;
    top: 137px;
}

#duracion   h2{
  
    position: absolute;
    width: 42px;
    height: 12px;
    left: 4px;
    top: 0;
    font-family: $fontRoboto;
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 12px;
margin:0;
}
#duracion{
    position: absolute;
width: 51px;
height: 16px;
left: 323px;
top: 192px;

background: #F2F2F2;
border-radius: 4px;
}
#container1{
   
    position: absolute;
left: 16px;
top: 312px;


}
#container2{
    position: absolute;
width: 171px;
height: 182px;
left:217px;
top: 312px;}

#rating{
    div{

        position: absolute;
       Top:192px;
Left:169px;     
    }

}
#container3{
    position: absolute;
width: 171px;
height: 182px;
left: 16px;
top: 523px;
}
#container4{
    position: absolute;
    left:217px;
    top: 523px;
}
#container5{
    position: absolute;
    left: 16px; 
    top: 736px;
}
#container6{
    position: absolute;
    left:217px;
    top: 736px; 
}