@import "../style/style.scss";

.location{

    @include mobile{
        width: 390px;
        height: 844px;
        display: flex;
        flex-direction: column; 
    } 
    
    &__container-text{
        @include mobile{
            height: 32px;
            width: 246px;
            margin-left: 72px;
            margin-top: 70px;
            border-radius: nullpx;
            display: flex;
            justify-content: center;
            text-align: center;
        } 
    }

    &__paragraph{
        @include tex1($w400, $s14, $l16, $gray5)
    }
    &__container-map{
        @include mobile{
            
            height: 404px;
            width: 358px;
            margin-left: 16px;
            margin-top: 16px;
            border-radius: 20px;
            display: flex;
        } 
    }
    &__container-span{
        @include mobile{
            height: 12px;
            width: 58px;
            margin-left: 316px;
            border-radius: nullpx;
            display: flex;
        } 
    }

    &__span{
        @include mobile{
            @include tex1($w400, $s10, $l12, $gray5)
        } 
       
    }

    &__container-button{
        @include mobile{
            width: 388px;
            height: 44px;
            
            padding-left: 16px;
            margin-top: 90px;
        } 
    }

    &__button{
        @include mobile{
            @include tex1($w500, $s14, $l16, $gray5)
        } 
        
    }
    &__textButton{
        @include mobile{
            @include buttonSquare($yellow, $yellow, $wi358, $he44, $white, $gray5);
        }
    }
}