@import "../style/style.scss";

.search{
    @include mobile{
        background-color: aqua;
        width: 390px;
        height: 844px;
        display: flex;
        flex-direction: column; 
        margin-top: 20px;
    } 


&__container-button{
    @include mobile{
        width: 385px;
        height: auto;
        padding-left: 16px;
        margin-bottom: 85px;
    }

}
&__button{
    @include mobile{
       @include buttonSquare2();
    }

}
&__button-filter{
    @include mobile{
       
        width: 270px;
        height: auto;
        padding-left: 16px;
        display: flex;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }

}
}