@import "./mixin";
@import "./mediaQuery";
.search{
    @include mobile{
      
    height: 844px;
   width: 390px;
       } 
     h1{
      @include Texto1($color: false, $fontSize: false, $fontSize2: false);
    @include mobile{
    position: absolute;
    top:125px;
    left: 16px;}
}
span{
  @include Texto1($color: true, $fontSize: false, $fontSize2: false);
   
}
&__div{
    position:absolute;
    top:159.93px;
    left: 16px;
    
}
&__search{
    position:absolute;
    top:79px;
    left: 16px;
}
&__result1{
  position: absolute;
  display: flex;
  flex-direction: column;
  @include mobile{
     height: 667px;
     top:153px;
     left: 16px;
  }
 
}
&__result{
  position: absolute;}
&__result img{
  width: 40px;
   height: 40px;
   border-radius: 10px;
   position: inherit;
}
&__result h1{
  @include Texto;
  @include mobile{
    position:relative;
    top:2px;
    left:60px;

  }
}
&__result h2{
  @include Texto1($color: true, $fontSize: false, $fontSize2: false);
  @include mobile{
    position:relative;
    top:22px;
    left:60px;

  }
}
&__input{    position: absolute;
  width: 358px;
  height: 44px;
  left: 17px;
  top: 65px;}
}

.input::placeholder {
  position: absolute;
  left: 37px;

  }

.fa{
    position:relative;
    top: -47px;
    left: 16px;
    color:$gray2;
}

.refresh-icon {
    color: $gray2; /* Cambia el color a tu preferencia */
    font-size: 24px; /* Cambia el tamaño de fuente a tu preferencia */
    /* Agrega otros estilos según tus necesidades */
  }
  .input{
    position: relative;
width: 358px;
height: 44px;
left: 0px;
top: 0px;

/* Complementary color (light gray) */

background: #F2F2F2;
border-radius: 10px;
  }
  .home__layout{
    position: absolute;
    left: 12px;
    width: 390px;
    top: 798px;
    display: flex;
    justify-content: space-between;

  }
  #buttontrash{
    position: relative;
    color: $gray2;
    top:-30px;
    left: 333px;

  }